.env
data/Chepe_20250923.txt
data/inventario.txt
data/inventario.txt
data/notas_importantes.txt
data/ventas_2025-09.txt
data/inventario.txt
data/precios_proveedores.txt
logs/app.log
logs/sistema_archivos.log
logs/sistema_ventas.log
logs/app.log
data/ventas_diarias.txt
data/inventario.txt
acesspro/token.json
acesspro/usuarios_config.json
acesspro/Respaldo_Local.xlsx
acesspro/Reporte_Asistencia.xlsx
acesspro/Reporte_Asistencia_Master.xlsx
acesspro/Registro_Asistencia_ZKTeco.xlsx
acesspro/Registro_Asistencia_Local.xlsx
acesspro/estados.json
acesspro/config_app.json
acesspro/client_secret.json
